<h4>Añadir comentario:</h4>

<form method="post" action="/quizes/<%=quizid%>/comments/" >      
  <input type="text" id="comment" name="comment[texto]" value="" placeholder="Incluya sus comentarios aquí"/>
  <button type="submit">Enviar</button>
</form>