<div style="float:left; padding-right: 8px;"><img src="images/foto.gif" alt="Sin foto"></div>
<div style="float:left; text-align: left;"><h3>Ejercicio P2P - Módulo 6 del MOOC "Desarrollo de servicios en la nube con HTML5, Javascript y node.js"</h3>
<p>Creado por Ángel Martín</p></div>
<div style="clear: both;"></div>
