<h2>Bienvenido a <%= title %></h2>
<p>¡El portal donde podrá crear sus propios juegos!</p>

<h1 style="color: red">Tengo varios errores que todavía estoy intentando solucionar, cuando los haya corregido desaparecerá este mensaje</h1>
